<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/logo-menu.png" 
        alt="Playstation Store"
        width="140px"
        height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://linkedin.com/in/bruno-pequeno-tec" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/bruno-pequeno" target="_blank">GITHUB</a></li>
            <li><a href="https://instagram.com/ofc_bruno12" target="_blank">INSTAGRAM</a></li>
        </ul> 
    </div>
</div>